In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('data.csv')
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [3]:
data.shape

(23678, 21)

In [4]:
# 1.
print('No of rows: ', data.shape[0])
print('No of cols: ', data.shape[1])

No of rows:  23678
No of cols:  21

In [5]:
# 2.
data.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [13]:
# 3.
all_row_empty=[]
for i in range(data.shape[0]):
    if data.iloc[i].isnull().sum()==21:
        all_row_empty.append(i)

In [14]:
len(all_row_empty)

131

In [15]:
# There are 131 empty rows

In [17]:
# 4.
print('Total no of empty rows: ', len(all_row_empty))
print('Percentage: ', len(all_row_empty)/data.shape[0]*100)
# Drop
data.drop(all_row_empty, inplace=True)

Total no of empty rows:  131
Percentage:  0.5532561871779711

In [24]:
# 5.
col_with_nan=[]
for col in data.columns.values:
    if data[col].isnull().sum()!=0:
        col_with_nan.append(col)

In [25]:
col_with_nan

['Price',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

In [35]:
# 6.
for col in col_with_nan:
    print('No of missing values in ', col, '= ', data[col].isnull().sum())
    print('% = ', data[col].isnull().sum()/data.shape[0]*100)
    print('\n')

No of missing values in  Price =  5151
% =  21.875398139890432


No of missing values in  Distance =  1
% =  0.00424682549794029


No of missing values in  Postcode =  1
% =  0.00424682549794029


No of missing values in  Bedroom2 =  4481
% =  19.03002505627044


No of missing values in  Bathroom =  4484
% =  19.042765532764257


No of missing values in  Car =  4626
% =  19.64581475347178


No of missing values in  Landsize =  6137
% =  26.062768080859556


No of missing values in  BuildingArea =  13529
% =  57.45530216163418


No of missing values in  YearBuilt =  12007
% =  50.99163375376906


No of missing values in  CouncilArea =  7891
% =  33.511700004246826


No of missing values in  Lattitude =  4304
% =  18.278336943135006


No of missing values in  Longtitude =  4304
% =  18.278336943135006


No of missing values in  Regionname =  1
% =  0.00424682549794029


No of missing values in  Propertycount =  1
% =  0.00424682549794029

In [31]:
# 7.
row_index=data[data.isnull()].index.to_list()
len(row_index)

23547

In [34]:
# 8.
# Just a sample for first 20 rows
# Change the limit of range function if you want more rows
for inx in row_index[:20]:
    print('no of missing values in row ',inx, ' ', data.iloc[inx].isnull().sum())
    print('%', data.iloc[inx].isnull().sum()/data.shape[1]*100)
    print('\n')

no of missing values in row  0   3
% 14.285714285714285


no of missing values in row  1   2
% 9.523809523809524


no of missing values in row  2   0
% 0.0


no of missing values in row  3   3
% 14.285714285714285


no of missing values in row  4   0
% 0.0


no of missing values in row  5   2
% 9.523809523809524


no of missing values in row  6   0
% 0.0


no of missing values in row  7   1
% 4.761904761904762


no of missing values in row  8   2
% 9.523809523809524


no of missing values in row  9   2
% 9.523809523809524


no of missing values in row  10   2
% 9.523809523809524


no of missing values in row  11   0
% 0.0


no of missing values in row  12   1
% 4.761904761904762


no of missing values in row  13   1
% 4.761904761904762


no of missing values in row  14   0
% 0.0


no of missing values in row  15   9
% 42.857142857142854


no of missing values in row  16   9
% 42.857142857142854


no of missing values in row  17   2
% 9.523809523809524


no of missing values in row  18   0
% 0.0


no of missing values in row  19   9
% 42.857142857142854

In [37]:
# 9.
col_30=[]
for col in col_with_nan:
    if data[col].isnull().sum()/data.shape[0]*100 >30:
        col_30.append(col)
        
print(col_30)

['BuildingArea', 'YearBuilt', 'CouncilArea']

In [44]:
# 10.

data.reset_index(drop=True, inplace=True)
row_5=[]
for i in data.index:
    if data.iloc[i].isnull().sum()>5:
        row_5.append(i)
if len(row_5)/data.shape[0]<0.2:
    data.drop(row_5, inplace=True)

In [46]:
# 11.

data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,19055.000000,1.492600e+04,19055.000000,19055.000000,19055.000000,19054.000000,18921.000000,17408.000000,10018.000000,11540.000000,19029.000000,19029.000000,19055.000000
mean,2.975020,1.067117e+06,10.222556,3109.772763,2.951929,1.570956,1.626235,551.822151,154.527895,1964.636742,-37.812187,145.000471,7474.095565
std,0.972329,6.382375e+05,6.055921,93.808492,0.996002,0.712765,0.974048,3544.489659,462.535765,37.595504,0.080002,0.106099,4312.653403
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.184180,144.431620,129.000000
25%,2.000000,6.410000e+05,6.100000,3048.000000,2.000000,1.000000,1.000000,181.000000,95.000000,1940.000000,-37.859010,144.939000,4442.000000
50%,3.000000,9.000000e+05,9.200000,3101.000000,3.000000,1.000000,2.000000,448.000000,129.000000,1970.000000,-37.809260,145.004690,6567.000000
75%,4.000000,1.320000e+06,13.000000,3150.000000,4.000000,2.000000,2.000000,656.000000,180.000000,2000.000000,-37.759500,145.063530,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,30.000000,12.000000,26.000000,433014.000000,44515.000000,2106.000000,-37.407580,145.526350,21650.000000

In [47]:
# 11.
data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            4129
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            1
Car               134
Landsize         1647
BuildingArea     9037
YearBuilt        7515
CouncilArea      3399
Lattitude          26
Longtitude         26
Regionname          0
Propertycount       0
dtype: int64

In [49]:
# 12.
print(data['Price'].dtype)
print(data['Price'].isnull().sum()/data.shape[0]*100)

float64
21.66885331933876

In [50]:
# Now, 20% of the values in price are missing and it is a continuous variable
# Also, there are a lot of outliers in price looking at the data from describe
# therefore, we'll use median imputation here

In [53]:
data['Price'].fillna(data['Price'].median(), inplace=True)

In [54]:
# 13.

data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            1
Car               134
Landsize         1647
BuildingArea     9037
YearBuilt        7515
CouncilArea      3399
Lattitude          26
Longtitude         26
Regionname          0
Propertycount       0
dtype: int64

In [55]:
data['CouncilArea'].value_counts()

Boroondara           1677
Moreland             1421
Stonnington          1141
Moonee Valley        1141
Darebin              1113
Glen Eira            1019
Port Phillip          849
Maribyrnong           836
Yarra                 836
Banyule               763
Bayside               677
Melbourne             582
Hobsons Bay           505
Brimbank              490
Monash                458
Whitehorse            432
Manningham            379
Kingston              235
Hume                  200
Whittlesea            196
Wyndham               128
Maroondah             114
Knox                  100
Melton                 78
Greater Dandenong      78
Frankston              67
Casey                  49
Nillumbik              41
Yarra Ranges           27
Cardinia               10
Macedon Ranges          9
Mitchell                2
Moorabool               2
Unavailable             1
Name: CouncilArea, dtype: int64

In [60]:
# drop 2 columns
data.drop(['BuildingArea', 'YearBuilt'],axis=1, inplace=True)
data['Landsize'].fillna(data['Landsize'].median(), inplace=True)
#seperate category for nan values in councilArea
data['CouncilArea'].fillna('Unknown', inplace=True)

In [61]:
data.shape

(19055, 19)

In [62]:
data.isnull().sum()

Suburb             0
Address            0
Rooms              0
Type               0
Price              0
Method             0
SellerG            0
Date               0
Distance           0
Postcode           0
Bedroom2           0
Bathroom           1
Car              134
Landsize           0
CouncilArea        0
Lattitude         26
Longtitude        26
Regionname         0
Propertycount      0
dtype: int64

In [64]:
# now, drop na for all the rows
data.dropna(inplace=True)

In [65]:
data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [67]:
# 14.
print('No of cols removed : ', 21-data.shape[1])
print('% ',(1-data.shape[1]/21)*100)

No of cols removed :  2
%  9.523809523809524

In [69]:
# 15.
print('No of rows removed : ', 23678-data.shape[0])
print('% ',(1-data.shape[0]/23678)*100)

No of rows removed :  4783
%  20.200185826505614

In [70]:
# Only 20% of data was removed. It is justified